:root {
    /* Couleurs principales */
    --mainColorLight: rgb(238, 235, 230);
    --mainColorDark: rgb(34, 30, 29);
    --bannerColor: rgb(250, 140, 130);
    --focusColor: rgb(255, 219, 210);
}

html,
body {
    height: 100vh;
    margin: 0;
    font-size: 18px;
    background: var(--mainColorLight);
    color: var(--mainColorDark);
}

body {
    display: grid;
    grid-template-rows: 18% 1fr 5%;
    grid-template-columns: 1fr;
    font-family: "Andika", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: var(--bannerColor);
    box-shadow: 0 1px 1px;
}

main {
    padding: 1rem;
    line-height: 1.5;
}

h1,
h2,
h3 {
    margin: 0;
}

h1,
header p,
h2 {
    font-family: "Charm", cursive, sans-serif;
}

h1 {
    margin: 0 1rem;
    text-align: center;
    font-size: 2.2rem;
    line-height: 1;
}

header p {
    font-size: 1.2rem;
}

h2 {
    margin-bottom: 1rem;
}

h3 {
    margin-bottom: 0.6rem;
}

section,
aside {
    margin-bottom: 1.5rem;
}

p {
    margin: 0;
}

footer {
    align-self: flex-end;
    padding: 0.5rem 0% 0.5rem 5%;
    margin: 0;
    background-color: darkgray;
    color: black;
}

#recipes {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.recipe {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;
    margin: 0 1rem 1rem;
    padding: 0.5rem;
    transition: all 0.3s;
}

.recipe:hover {
    box-shadow: 1px 2px 2px 2px var(--bannerColor);
    border-color: var(--focusColor);
    background: var(--focusColor);
}

.imgRecipe {
    width: 65%;
}

#categories {
    margin-top: 1rem;
}

#search {
    margin-left: 5%;
    width: 80%;
    height: 1.2rem;
    border-radius: 4px;
    border-color: var(--bannerColor);
}

#search::placeholder {
    font-style: italic;
}

.category {
    list-style: none;
    font-size: 1.1rem;
    margin: 0 2rem 1rem 0;
}

.category:hover {
    cursor: pointer;
    text-shadow: 1px 1px 1px;
    border-radius: 10px;
    background: var(--focusColor);
}

.activeCategory {
    font-weight: bold;
    text-decoration: underline;
}

.masque {
    display: none;
}


/* Format tablette */
@media screen and (min-width: 768px) {

    h1 {
        line-height: 1.4;
    }

    main {
        display: grid;
        grid-template-columns: 1fr 30%;
    }

    .imgRecipe {
        width: 55%;
    }

    aside {
        margin-left: 1rem;
        padding: 0.5rem;
        border-radius: 10px;
        background: linear-gradient(var(--bannerColor), var(--mainColorLight) 85%) no-repeat, var(--mainColorLight);
        position: sticky;
        top: 1rem;
        height: 75%;
        max-height: 800px;
    }
}

/* Format Desktop */
@media screen and (min-width: 992px) {
    main {
        display: grid;
        grid-template-columns: 1fr 240px;
    }

    h1 {
        font-size: 2.6rem;
    }

    header p {
        font-size: 1.4rem;
    }


    section h2 {
        margin-top: 1rem;
        margin-left: 3%;
    }

    #recipes {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;

    }

    .recipe {
        max-width: 41%;
    }
}

/* Pour les écrans suffisament larges pour le permettre on affiche 3 recettes par lignes */
@media screen and (min-width: 1590px) {

    .recipe {
        max-width: 29%;
        flex: 1 0 29%;
    }
}

/* Menu déroulant des catégories pour mobile */
@media screen and (max-width: 767px) {
    aside {
        position: sticky;
        bottom: 95%;
        right: 0;

        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-end;
        margin: 0;
        padding: 0.8em;
        line-height: 0.2;

        height: 0;
    }

    #mobileMenu {
        margin: -1rem 0 0;
        padding: 1rem 0.4rem 1rem;
        background: var(--bannerColor);
        border-radius: 8px;
        transition: all 0.3s;
    }

    #mobileMenu::after {
        content: " ☰ ";
    }

    #mobileMenu:hover {
        cursor: pointer;
    }

    #filterMenu {
        display: none;
        opacity: 0;
        padding: 0.5rem;
        border-radius: 8px 0 8px 8px;
        background: var(--bannerColor);
        transition: all 0.4s;
    }

    #search {
        margin-top: 0.5rem;
    }

    #filterMenu ul {
        padding-left: 0.5rem;
    }

    #filterMenu li {
        margin: 0;
        padding: 0.8rem 1rem 0.8rem;
    }

    footer {
        font-size: 16px;
    }
}


/*Classe spécifique à l'affiche des recettes en pleine page*/
.showRecipe {
    position: fixed;
    top: 0;
    left: -1rem;
    z-index: 2;
    width: 80vw;
    height: 80vh;
    margin: 10%;
    background: var(--focusColor);
    border-width: 3px;
    box-shadow: 0 5px 50px 50px var(--bannerColor);
    transition: all 0.4s;
}

.showRecipe h3 {
    font-size: 1.4rem;
}

.showRecipe p {
    padding: 0.5rem 1.5rem 0.5rem;
    line-height: 1.8;
    overflow: auto;
}